SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=vendor_onboarding
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

EMAIL_HOST_USER=rtsm@radico.co.in
EMAIL_HOST_PASSWORD=Delr@d2503#

DEFAULT_FROM_EMAIL=rtsm@radico.co.in
SERVER_EMAIL=rtsm@radico.co.in

# Frontend URL (for email links)
FRONTEND_URL=http://localhost:5173

# JWT
ACCESS_TOKEN_LIFETIME_MINUTES=60
REFRESH_TOKEN_LIFETIME_DAYS=7


